@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h1{
    font-family: 'Syncopate', sans-serif;
    font-size: 50px;
    color: #343434;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #343434;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #343434;
}